body {
	height: 100%;
	margin: 0;
    padding: 0;
 	background-image: linear-gradient(to bottom right, #6dd5ed, #2193b0);
}

html {
    height: 100%;
}

#react{
	margin-top: 20%;
    margin-left: 40%;
    font-size: 26px;
    font-color: white;
}

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(even){background-color: #f2f2f2;}

table tr:hover {background-color: #ddd;}

table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #2193b0;
  color: white;
}